@import '@/assets/styles/nprogress.scss';
@import '@/assets/styles/markdown.scss';
@import '@/assets/styles/dark.scss';

.el-table{
  th {
    text-transform: uppercase;
  }
  td {
    padding: 1px !important;
    .cell{
      padding: 1px;
    }
  }
}
